html {
	scroll-behavior: smooth;
	font-family: 'Karla', sans-serif;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-family: 'Karla', sans-serif;
}

::-webkit-calendar-picker-indicator {
	margin-right: 10px;
	font-family: 'Karla', sans-serif;
}

.container {
	position: absolute;
	width: 400px;
	height: 610px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	background: #FFFFFF;
	box-shadow: 5px 7px 59px -4px rgba(0, 0, 0, 0.30);
	border-radius: 20px;

}

.container h4 {
	text-align: center;
	font-size: 15px;
}

.container ul li {
	display: inline-table;
}

.left {
	float: left;
}

.right {
	float: right;
	margin-right: 50px;
}

img {
	width: 317px;
	height: 113px;
	left: 356px;
	top: 126px;
	margin-top: 20px;
	margin-bottom: 12px;

	background: url(image.png);
	border-radius: 8px;
	transform: matrix(-1, 0, 0, 1, 0, 0);
}

label {
	font-size: 14px;
}

input {
	width: 317px;
	height: 45px;
	left: 30px;
	top: 300px;
	border: none;
	outline: none;
	margin-bottom: 12px;
	margin-top: 12px;
	font-family: 'Karla', sans-serif;
	padding-left: 10px;


	background: #EEF1F4;
	border-radius: 8px;
}

select {

	width: 325px;
	height: 45px;
	left: 30px;
	top: 300px;
	border: none;
	outline: none;
	margin-bottom: 12px;
	margin-top: 12px;
	padding-left: 10px;

	background: #EEF1F4;
	border-radius: 8px;

	font-family: 'Karla', sans-serif;
}

.submit {
	position: absolute;
	width: 325px;
	height: 68px;
	border: none;
	font-family: 'Karla', sans-serif;
	color: white;
	font-size: 18px;
	font-weight: bolder;
	margin-top: 10px;
	cursor: pointer;
	transition: 0.5s;

	background: #5686E1;
	border-radius: 8px;
}

.submit:hover {
	opacity: 0.8
}